<%- include header.html %>
<div class="formbox">
	 <form method="post" action="/register" id="form">
		<ul class="formitem">
			<li>
				<input  name="phone" type="tel" value=""  placeholder='请输入手机号' class="text" autocomplete="off" id="phone" />
				<div class="getPhoneCode"><button type="button" id="getPhoneCode">获取验证码</button><!--<button type="button" class="disabled">60秒后获取</button>--></div>
			</li>
			<li>
				<input  name="phoneCode" type="tel" value=""  placeholder='请输入手机验证码（6位数字）' class="text" autocomplete="off" id="phoneCode" />
			</li>
			<li>
				<input  name="password" type="password" value=""  placeholder='请输入密码' class="text" autocomplete="off" id="password" />
			</li>
			<li>
				<input name="inviteID" type="text" value=""  placeholder='推荐人可填可不填（填写推荐码）' class="text" autocomplete="off" id="referrer" />
			</li>
		</ul>
		<div class="formbtn">
			<input name="qbz_zc" type="submit" value="立即注册" class="button" id="button">
		</div>
	</form>
	<p class="linkother"><a href="/login">已有账号，点击登录</a></p>
</div>

<script type="text/javascript">
;(function(){
	$(function(){
		var $form = $('#form'), $btn = $('#button'), $phone = $('#phone'), $getPhoneCode = $('#getPhoneCode'), 
			$phoneCode = $('#phoneCode'), $password = $('#password'), $referrer = $('#referrer'), ck = 1;
		$getPhoneCode.on('click',function(e){
			e.preventDefault();
			var v = $.trim($phone.val());
			if(v === ''){
				alert('手机号码不能为空');
				$phone.focus();
				return false;
			}
			if( !/^1[3|5|7|8]\d{9}$/.test(v) ){
				alert('手机号码输入不正确');
				$phone.focus();
				return false;
			}
			var wait = 60, timeID = null;
			$.ajax({
				url: '/smsreg',
				type: 'POST',
				dataType: 'json',
				data: {phone: v},
				error: function(){
					alert('手机验证码发送失败，请重试。');
				},
				success: function(result){
					if(result.code == 1){
						$getPhoneCode.attr('disabled','true').addClass('disabled');
						timeID = setInterval(function() {
							$getPhoneCode.text(wait+'\u79d2\u91cd\u65b0\u83b7\u53d6');
							wait--;
							if (wait < 0) {
								clearInterval(timeID);
								$getPhoneCode.text("\u83b7\u53d6\u9a8c\u8bc1\u7801");
								$getPhoneCode.removeAttr("disabled").removeClass('disabled');
							}
						}, 1000);
						Tips.alert('验证码已经发送，请注意查收!');
					}else{
						alert(result.message);
					}
				}
			});
		});

		$form.on('submit',function(e){
			e.preventDefault();
			if(!ck) return;
			ck = 0;
			var v = $.trim($phone.val());
			if(v === ''){
				alert('手机号码不能为空');
				ck = 1;
				$phone.focus();
				return false;
			}
			if( !/^1[3|5|7|8]\d{9}$/.test(v) ){
				alert('手机号码输入不正确');
				ck = 1;
				$phone.focus();
				return false;
			}
			if($.trim($phoneCode.val()) === ''){
				alert('手机验证码不能为空');
				ck = 1;
				$phoneCode.focus();
				return false;
			}
			if( !/^[0-9]{6}$/.test($.trim($phoneCode.val())) ){
				alert('手机验证码为6位数字');
				ck = 1;
				$phone.focus();
				return false;
			}
			if($.trim($password.val()) === ''){
				alert('密码不能为空');
				ck = 1;
				$password.focus();
				return false;
			}
			if( !/^[\w]{6,22}$/.test($password.val()) ){
				alert('密码6到22位的字母数字组合');
				ck = 1;
				$password.focus();
				return false;
			}

			$.ajax({
				url: '/register',
				type: 'POST',
				dataType: 'json',
				data: $form.serialize(),
				beforeSend: function(){
					$btn.val('注册中...');
				},
				error: function(){
					alert('提交失败，请重试。');
					ck = 1;
					$btn.val('立即注册');
				},
				success: function(data){
					if(data.code == 4) return location.href = '/';
					ck = 1;
					$btn.val('立即注册');
					// 0 验证码错误
					// 1 验证码超时
					// 2 此手机号码没有请求发送验证码
					// 3 插入失败
					// 4 插入成功
					switch(data.code){
						case 0:
							alert('手机验证码错误！');
						break;
						case 1:
							alert('手机验证码超时，请点击重新发送！');
						break;
						case 2:
							alert('此手机号码没有请求发送验证码，请点击发送！');
						break;
						case 3:
							alert('注册失败，请重试！');
						break;
						case 5:
							alert('这个手机号码已经注册过了');
						break;
					}
				}
			});
		});

	});
}());
</script> 
<%- include footer.html %>